@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Press+Start+2P&family=Roboto+Slab:wght@300&display=swap');


body {
    background-color: lightblue;
    margin: 0;
}

#intro {
    text-align: center;
    margin-top: 5%;
    font-family: 'Roboto Slab', serif;
    font-size: 200%;
    background: url(../assets/images/globe.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

#intro h1 {
    padding-top: 5%;
    margin: 0;
    font-size: 300%;
}


#intro p {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

#score {
    background: url(../assets/images/winner.jpg);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#score p {
    font-size: 400%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;

}

#restart-btn {
    text-align: center;
    width: 20%;
    padding: 15px 25px;
    font-size: 115%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
}

#score-btn {
    margin-top: 10%;
    width: 50%;
    padding: 15px;
    font-size: 50%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
    font-family: 'Roboto Slab', serif;
}

#choice1 {
    text-align: center;
    width: 20%;
    padding: 15px 25px;
    font-size: 115%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
}

#choice2 {
    text-align: center;
    width: 20%;
    padding: 15px 25px;
    font-size: 115%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
}

#choice3 {
    text-align: center;
    width: 20%;
    padding: 15px 25px;
    font-size: 115%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
}

#choice4 {
    text-align: center;
    width: 20%;
    padding: 15px 25px;
    font-size: 115%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2%;
}

.hide {
    display: none;
}

.show {
    display: block;
    box-sizing: border-box;
}

#game {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 300%;
    font-weight: bold;
    background: url(../assets/images/old-city.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#displayed-question {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 25px;
    transform: translateY(45%);
    margin-top: 0;
}

#game li {
    list-style-type: none;
}

ul {
    display: initial;
}

/* Other styles for correct and wrong answers */
.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

@media (max-width: 1050px) {
    #intro h1 {
        font-size: 100%;
    }

    #intro p {
        padding: 5px 10px;
        /* Adjust padding for smaller screens */
        font-size: 50%;
        /* Adjust font size for smaller screens */

    }

    #game {
        font-size: 90%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    #choice1 {
        width: 60%;
        font-size: 100%;
    }

    #choice2 {
        width: 60%;
        font-size: 100%;
    }

    #choice3 {
        width: 60%;
        font-size: 100%;
    }

    #choice4 {
        width: 60%;
        font-size: 100%;
    }

    #displayed-question {
        margin-top: 0;
    }

}